{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": true,
  "plugins": ["prettier-plugin-astro"],
  "overrides": [
    { "files": "*.astro", "options": { "parser": "astro" } },
    { "files": ["*.json", "*.md", "*.toml", "*.yml"], "options": { "useTabs": false } }
  ]
}
