.bordered {
  /* 200x200 */
  &.sm {
    clip-path: polygon(
      0px calc(100% - 24px),
      6px calc(100% - 24px),
      6px calc(100% - 18px),
      12px calc(100% - 18px),
      12px calc(100% - 12px),
      18px calc(100% - 12px),
      18px calc(100% - 6px),
      24px calc(100% - 6px),
      24px 100%,
      calc(100% - 24px) 100%,
      calc(100% - 24px) calc(100% - 6px),
      calc(100% - 18px) calc(100% - 6px),
      calc(100% - 18px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 18px),
      calc(100% - 6px) calc(100% - 18px),
      calc(100% - 6px) calc(100% - 24px),
      100% calc(100% - 24px),
      100% 24px,
      calc(100% - 6px) 24px,
      calc(100% - 6px) 18px,
      calc(100% - 12px) 18px,
      calc(100% - 12px) 12px,
      calc(100% - 18px) 12px,
      calc(100% - 18px) 6px,
      calc(100% - 24px) 6px,
      calc(100% - 24px) 0px,
      24px 0px,
      24px 6px,
      18px 6px,
      18px 12px,
      12px 12px,
      12px 18px,
      6px 18px,
      6px 24px,
      0px 24px
    );
  }

  /* 290x290 */
  &.md {
    clip-path: polygon(
      0px calc(100% - 36px),
      9px calc(100% - 36px),
      9px calc(100% - 27px),
      18px calc(100% - 27px),
      18px calc(100% - 18px),
      27px calc(100% - 18px),
      27px calc(100% - 9px),
      36px calc(100% - 9px),
      36px 100%,
      calc(100% - 36px) 100%,
      calc(100% - 36px) calc(100% - 9px),
      calc(100% - 27px) calc(100% - 9px),
      calc(100% - 27px) calc(100% - 18px),
      calc(100% - 18px) calc(100% - 18px),
      calc(100% - 18px) calc(100% - 27px),
      calc(100% - 9px) calc(100% - 27px),
      calc(100% - 9px) calc(100% - 36px),
      100% calc(100% - 36px),
      100% 36px,
      calc(100% - 9px) 36px,
      calc(100% - 9px) 27px,
      calc(100% - 18px) 27px,
      calc(100% - 18px) 18px,
      calc(100% - 27px) 18px,
      calc(100% - 27px) 9px,
      calc(100% - 36px) 9px,
      calc(100% - 36px) 0px,
      36px 0px,
      36px 9px,
      27px 9px,
      27px 18px,
      18px 18px,
      18px 27px,
      9px 27px,
      9px 36px,
      0px 36px
    );
  }

  /* 400x400 */
  &.lg {
    clip-path: polygon(
      0px calc(100% - 48px),
      12px calc(100% - 48px),
      12px calc(100% - 36px),
      24px calc(100% - 36px),
      24px calc(100% - 24px),
      36px calc(100% - 24px),
      36px calc(100% - 12px),
      48px calc(100% - 12px),
      48px 100%,
      calc(100% - 48px) 100%,
      calc(100% - 48px) calc(100% - 12px),
      calc(100% - 36px) calc(100% - 12px),
      calc(100% - 36px) calc(100% - 24px),
      calc(100% - 24px) calc(100% - 24px),
      calc(100% - 24px) calc(100% - 36px),
      calc(100% - 12px) calc(100% - 36px),
      calc(100% - 12px) calc(100% - 48px),
      100% calc(100% - 48px),
      100% 48px,
      calc(100% - 12px) 48px,
      calc(100% - 12px) 36px,
      calc(100% - 24px) 36px,
      calc(100% - 24px) 24px,
      calc(100% - 36px) 24px,
      calc(100% - 36px) 12px,
      calc(100% - 48px) 12px,
      calc(100% - 48px) 0px,
      48px 0px,
      48px 12px,
      36px 12px,
      36px 24px,
      24px 24px,
      24px 36px,
      12px 36px,
      12px 48px,
      0px 48px
    );
  }

  &.responsive {
    clip-path: polygon(
      0px calc(100% - 24px),
      6px calc(100% - 24px),
      6px calc(100% - 18px),
      12px calc(100% - 18px),
      12px calc(100% - 12px),
      18px calc(100% - 12px),
      18px calc(100% - 6px),
      24px calc(100% - 6px),
      24px 100%,
      calc(100% - 24px) 100%,
      calc(100% - 24px) calc(100% - 6px),
      calc(100% - 18px) calc(100% - 6px),
      calc(100% - 18px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 12px),
      calc(100% - 12px) calc(100% - 18px),
      calc(100% - 6px) calc(100% - 18px),
      calc(100% - 6px) calc(100% - 24px),
      100% calc(100% - 24px),
      100% 24px,
      calc(100% - 6px) 24px,
      calc(100% - 6px) 18px,
      calc(100% - 12px) 18px,
      calc(100% - 12px) 12px,
      calc(100% - 18px) 12px,
      calc(100% - 18px) 6px,
      calc(100% - 24px) 6px,
      calc(100% - 24px) 0px,
      24px 0px,
      24px 6px,
      18px 6px,
      18px 12px,
      12px 12px,
      12px 18px,
      6px 18px,
      6px 24px,
      0px 24px
    );

    @media(min-width: 768px) {
      clip-path: polygon(
        0px calc(100% - 36px),
        9px calc(100% - 36px),
        9px calc(100% - 27px),
        18px calc(100% - 27px),
        18px calc(100% - 18px),
        27px calc(100% - 18px),
        27px calc(100% - 9px),
        36px calc(100% - 9px),
        36px 100%,
        calc(100% - 36px) 100%,
        calc(100% - 36px) calc(100% - 9px),
        calc(100% - 27px) calc(100% - 9px),
        calc(100% - 27px) calc(100% - 18px),
        calc(100% - 18px) calc(100% - 18px),
        calc(100% - 18px) calc(100% - 27px),
        calc(100% - 9px) calc(100% - 27px),
        calc(100% - 9px) calc(100% - 36px),
        100% calc(100% - 36px),
        100% 36px,
        calc(100% - 9px) 36px,
        calc(100% - 9px) 27px,
        calc(100% - 18px) 27px,
        calc(100% - 18px) 18px,
        calc(100% - 27px) 18px,
        calc(100% - 27px) 9px,
        calc(100% - 36px) 9px,
        calc(100% - 36px) 0px,
        36px 0px,
        36px 9px,
        27px 9px,
        27px 18px,
        18px 18px,
        18px 27px,
        9px 27px,
        9px 36px,
        0px 36px
      );
    }

    @media(min-width: 1200px) {
      clip-path: polygon(
        0px calc(100% - 48px),
        12px calc(100% - 48px),
        12px calc(100% - 36px),
        24px calc(100% - 36px),
        24px calc(100% - 24px),
        36px calc(100% - 24px),
        36px calc(100% - 12px),
        48px calc(100% - 12px),
        48px 100%,
        calc(100% - 48px) 100%,
        calc(100% - 48px) calc(100% - 12px),
        calc(100% - 36px) calc(100% - 12px),
        calc(100% - 36px) calc(100% - 24px),
        calc(100% - 24px) calc(100% - 24px),
        calc(100% - 24px) calc(100% - 36px),
        calc(100% - 12px) calc(100% - 36px),
        calc(100% - 12px) calc(100% - 48px),
        100% calc(100% - 48px),
        100% 48px,
        calc(100% - 12px) 48px,
        calc(100% - 12px) 36px,
        calc(100% - 24px) 36px,
        calc(100% - 24px) 24px,
        calc(100% - 36px) 24px,
        calc(100% - 36px) 12px,
        calc(100% - 48px) 12px,
        calc(100% - 48px) 0px,
        48px 0px,
        48px 12px,
        36px 12px,
        36px 24px,
        24px 24px,
        24px 36px,
        12px 36px,
        12px 48px,
        0px 48px
      );
    }
  }
}

.circled {
  /* 200x200 */
  &.sm {
    clip-path: polygon(
      0px calc(100% - 84px),
      6px calc(100% - 84px),
      6px calc(100% - 66px),
      12px calc(100% - 66px),
      12px calc(100% - 54px),
      18px calc(100% - 54px),
      18px calc(100% - 42px),
      24px calc(100% - 42px),
      24px calc(100% - 36px),
      30px calc(100% - 36px),
      30px calc(100% - 30px),
      36px calc(100% - 30px),
      36px calc(100% - 24px),
      42px calc(100% - 24px),
      42px calc(100% - 18px),
      54px calc(100% - 18px),
      54px calc(100% - 12px),
      66px calc(100% - 12px),
      66px calc(100% - 6px),
      84px calc(100% - 6px),
      84px 100%,
      calc(100% - 84px) 100%,
      calc(100% - 84px) calc(100% - 6px),
      calc(100% - 66px) calc(100% - 6px),
      calc(100% - 66px) calc(100% - 12px),
      calc(100% - 54px) calc(100% - 12px),
      calc(100% - 54px) calc(100% - 18px),
      calc(100% - 42px) calc(100% - 18px),
      calc(100% - 42px) calc(100% - 24px),
      calc(100% - 36px) calc(100% - 24px),
      calc(100% - 36px) calc(100% - 30px),
      calc(100% - 30px) calc(100% - 30px),
      calc(100% - 30px) calc(100% - 36px),
      calc(100% - 24px) calc(100% - 36px),
      calc(100% - 24px) calc(100% - 42px),
      calc(100% - 18px) calc(100% - 42px),
      calc(100% - 18px) calc(100% - 54px),
      calc(100% - 12px) calc(100% - 54px),
      calc(100% - 12px) calc(100% - 66px),
      calc(100% - 6px) calc(100% - 66px),
      calc(100% - 6px) calc(100% - 84px),
      100% calc(100% - 84px),
      100% 84px,
      calc(100% - 6px) 84px,
      calc(100% - 6px) 66px,
      calc(100% - 12px) 66px,
      calc(100% - 12px) 54px,
      calc(100% - 18px) 54px,
      calc(100% - 18px) 42px,
      calc(100% - 24px) 42px,
      calc(100% - 24px) 36px,
      calc(100% - 30px) 36px,
      calc(100% - 30px) 30px,
      calc(100% - 36px) 30px,
      calc(100% - 36px) 24px,
      calc(100% - 42px) 24px,
      calc(100% - 42px) 18px,
      calc(100% - 54px) 18px,
      calc(100% - 54px) 12px,
      calc(100% - 66px) 12px,
      calc(100% - 66px) 6px,
      calc(100% - 84px) 6px,
      calc(100% - 84px) 0px,
      84px 0px,
      84px 6px,
      66px 6px,
      66px 12px,
      54px 12px,
      54px 18px,
      42px 18px,
      42px 24px,
      36px 24px,
      36px 30px,
      30px 30px,
      30px 36px,
      24px 36px,
      24px 42px,
      18px 42px,
      18px 54px,
      12px 54px,
      12px 66px,
      6px 66px,
      6px 84px,
      0px 84px
    );
  }

  /* 290x290 */
  &.md {
    clip-path: polygon(
      0px calc(100% - 126px),
      9px calc(100% - 126px),
      9px calc(100% - 99px),
      18px calc(100% - 99px),
      18px calc(100% - 81px),
      27px calc(100% - 81px),
      27px calc(100% - 63px),
      36px calc(100% - 63px),
      36px calc(100% - 54px),
      45px calc(100% - 54px),
      45px calc(100% - 45px),
      54px calc(100% - 45px),
      54px calc(100% - 36px),
      63px calc(100% - 36px),
      63px calc(100% - 27px),
      81px calc(100% - 27px),
      81px calc(100% - 18px),
      99px calc(100% - 18px),
      99px calc(100% - 9px),
      126px calc(100% - 9px),
      126px 100%,
      calc(100% - 126px) 100%,
      calc(100% - 126px) calc(100% - 9px),
      calc(100% - 99px) calc(100% - 9px),
      calc(100% - 99px) calc(100% - 18px),
      calc(100% - 81px) calc(100% - 18px),
      calc(100% - 81px) calc(100% - 27px),
      calc(100% - 63px) calc(100% - 27px),
      calc(100% - 63px) calc(100% - 36px),
      calc(100% - 54px) calc(100% - 36px),
      calc(100% - 54px) calc(100% - 45px),
      calc(100% - 45px) calc(100% - 45px),
      calc(100% - 45px) calc(100% - 54px),
      calc(100% - 36px) calc(100% - 54px),
      calc(100% - 36px) calc(100% - 63px),
      calc(100% - 27px) calc(100% - 63px),
      calc(100% - 27px) calc(100% - 81px),
      calc(100% - 18px) calc(100% - 81px),
      calc(100% - 18px) calc(100% - 99px),
      calc(100% - 9px) calc(100% - 99px),
      calc(100% - 9px) calc(100% - 126px),
      100% calc(100% - 126px),
      100% 126px,
      calc(100% - 9px) 126px,
      calc(100% - 9px) 99px,
      calc(100% - 18px) 99px,
      calc(100% - 18px) 81px,
      calc(100% - 27px) 81px,
      calc(100% - 27px) 63px,
      calc(100% - 36px) 63px,
      calc(100% - 36px) 54px,
      calc(100% - 45px) 54px,
      calc(100% - 45px) 45px,
      calc(100% - 54px) 45px,
      calc(100% - 54px) 36px,
      calc(100% - 63px) 36px,
      calc(100% - 63px) 27px,
      calc(100% - 81px) 27px,
      calc(100% - 81px) 18px,
      calc(100% - 99px) 18px,
      calc(100% - 99px) 9px,
      calc(100% - 126px) 9px,
      calc(100% - 126px) 0px,
      126px 0px,
      126px 9px,
      99px 9px,
      99px 18px,
      81px 18px,
      81px 27px,
      63px 27px,
      63px 36px,
      54px 36px,
      54px 45px,
      45px 45px,
      45px 54px,
      36px 54px,
      36px 63px,
      27px 63px,
      27px 81px,
      18px 81px,
      18px 99px,
      9px 99px,
      9px 126px,
      0px 126px
    );
  }

  /* 400x400 */
  &.lg {
    clip-path: polygon(
      0px calc(100% - 168px),
      12px calc(100% - 168px),
      12px calc(100% - 132px),
      24px calc(100% - 132px),
      24px calc(100% - 108px),
      36px calc(100% - 108px),
      36px calc(100% - 84px),
      48px calc(100% - 84px),
      48px calc(100% - 72px),
      60px calc(100% - 72px),
      60px calc(100% - 60px),
      72px calc(100% - 60px),
      72px calc(100% - 48px),
      84px calc(100% - 48px),
      84px calc(100% - 36px),
      108px calc(100% - 36px),
      108px calc(100% - 24px),
      132px calc(100% - 24px),
      132px calc(100% - 12px),
      168px calc(100% - 12px),
      168px 100%,
      calc(100% - 168px) 100%,
      calc(100% - 168px) calc(100% - 12px),
      calc(100% - 132px) calc(100% - 12px),
      calc(100% - 132px) calc(100% - 24px),
      calc(100% - 108px) calc(100% - 24px),
      calc(100% - 108px) calc(100% - 36px),
      calc(100% - 84px) calc(100% - 36px),
      calc(100% - 84px) calc(100% - 48px),
      calc(100% - 72px) calc(100% - 48px),
      calc(100% - 72px) calc(100% - 60px),
      calc(100% - 60px) calc(100% - 60px),
      calc(100% - 60px) calc(100% - 72px),
      calc(100% - 48px) calc(100% - 72px),
      calc(100% - 48px) calc(100% - 84px),
      calc(100% - 36px) calc(100% - 84px),
      calc(100% - 36px) calc(100% - 108px),
      calc(100% - 24px) calc(100% - 108px),
      calc(100% - 24px) calc(100% - 132px),
      calc(100% - 12px) calc(100% - 132px),
      calc(100% - 12px) calc(100% - 168px),
      100% calc(100% - 168px),
      100% 168px,
      calc(100% - 12px) 168px,
      calc(100% - 12px) 132px,
      calc(100% - 24px) 132px,
      calc(100% - 24px) 108px,
      calc(100% - 36px) 108px,
      calc(100% - 36px) 84px,
      calc(100% - 48px) 84px,
      calc(100% - 48px) 72px,
      calc(100% - 60px) 72px,
      calc(100% - 60px) 60px,
      calc(100% - 72px) 60px,
      calc(100% - 72px) 48px,
      calc(100% - 84px) 48px,
      calc(100% - 84px) 36px,
      calc(100% - 108px) 36px,
      calc(100% - 108px) 24px,
      calc(100% - 132px) 24px,
      calc(100% - 132px) 12px,
      calc(100% - 168px) 12px,
      calc(100% - 168px) 0px,
      168px 0px,
      168px 12px,
      132px 12px,
      132px 24px,
      108px 24px,
      108px 36px,
      84px 36px,
      84px 48px,
      72px 48px,
      72px 60px,
      60px 60px,
      60px 72px,
      48px 72px,
      48px 84px,
      36px 84px,
      36px 108px,
      24px 108px,
      24px 132px,
      12px 132px,
      12px 168px,
      0px 168px
    );
  }

  &.mask {
    mask-image: url('/image/circle.png');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &.responsive {
    clip-path: polygon(
      0px calc(100% - 84px),
      6px calc(100% - 84px),
      6px calc(100% - 66px),
      12px calc(100% - 66px),
      12px calc(100% - 54px),
      18px calc(100% - 54px),
      18px calc(100% - 42px),
      24px calc(100% - 42px),
      24px calc(100% - 36px),
      30px calc(100% - 36px),
      30px calc(100% - 30px),
      36px calc(100% - 30px),
      36px calc(100% - 24px),
      42px calc(100% - 24px),
      42px calc(100% - 18px),
      54px calc(100% - 18px),
      54px calc(100% - 12px),
      66px calc(100% - 12px),
      66px calc(100% - 6px),
      84px calc(100% - 6px),
      84px 100%,
      calc(100% - 84px) 100%,
      calc(100% - 84px) calc(100% - 6px),
      calc(100% - 66px) calc(100% - 6px),
      calc(100% - 66px) calc(100% - 12px),
      calc(100% - 54px) calc(100% - 12px),
      calc(100% - 54px) calc(100% - 18px),
      calc(100% - 42px) calc(100% - 18px),
      calc(100% - 42px) calc(100% - 24px),
      calc(100% - 36px) calc(100% - 24px),
      calc(100% - 36px) calc(100% - 30px),
      calc(100% - 30px) calc(100% - 30px),
      calc(100% - 30px) calc(100% - 36px),
      calc(100% - 24px) calc(100% - 36px),
      calc(100% - 24px) calc(100% - 42px),
      calc(100% - 18px) calc(100% - 42px),
      calc(100% - 18px) calc(100% - 54px),
      calc(100% - 12px) calc(100% - 54px),
      calc(100% - 12px) calc(100% - 66px),
      calc(100% - 6px) calc(100% - 66px),
      calc(100% - 6px) calc(100% - 84px),
      100% calc(100% - 84px),
      100% 84px,
      calc(100% - 6px) 84px,
      calc(100% - 6px) 66px,
      calc(100% - 12px) 66px,
      calc(100% - 12px) 54px,
      calc(100% - 18px) 54px,
      calc(100% - 18px) 42px,
      calc(100% - 24px) 42px,
      calc(100% - 24px) 36px,
      calc(100% - 30px) 36px,
      calc(100% - 30px) 30px,
      calc(100% - 36px) 30px,
      calc(100% - 36px) 24px,
      calc(100% - 42px) 24px,
      calc(100% - 42px) 18px,
      calc(100% - 54px) 18px,
      calc(100% - 54px) 12px,
      calc(100% - 66px) 12px,
      calc(100% - 66px) 6px,
      calc(100% - 84px) 6px,
      calc(100% - 84px) 0px,
      84px 0px,
      84px 6px,
      66px 6px,
      66px 12px,
      54px 12px,
      54px 18px,
      42px 18px,
      42px 24px,
      36px 24px,
      36px 30px,
      30px 30px,
      30px 36px,
      24px 36px,
      24px 42px,
      18px 42px,
      18px 54px,
      12px 54px,
      12px 66px,
      6px 66px,
      6px 84px,
      0px 84px
    );

    @media(min-width: 768px) {
      clip-path: polygon(
        0px calc(100% - 126px),
        9px calc(100% - 126px),
        9px calc(100% - 99px),
        18px calc(100% - 99px),
        18px calc(100% - 81px),
        27px calc(100% - 81px),
        27px calc(100% - 63px),
        36px calc(100% - 63px),
        36px calc(100% - 54px),
        45px calc(100% - 54px),
        45px calc(100% - 45px),
        54px calc(100% - 45px),
        54px calc(100% - 36px),
        63px calc(100% - 36px),
        63px calc(100% - 27px),
        81px calc(100% - 27px),
        81px calc(100% - 18px),
        99px calc(100% - 18px),
        99px calc(100% - 9px),
        126px calc(100% - 9px),
        126px 100%,
        calc(100% - 126px) 100%,
        calc(100% - 126px) calc(100% - 9px),
        calc(100% - 99px) calc(100% - 9px),
        calc(100% - 99px) calc(100% - 18px),
        calc(100% - 81px) calc(100% - 18px),
        calc(100% - 81px) calc(100% - 27px),
        calc(100% - 63px) calc(100% - 27px),
        calc(100% - 63px) calc(100% - 36px),
        calc(100% - 54px) calc(100% - 36px),
        calc(100% - 54px) calc(100% - 45px),
        calc(100% - 45px) calc(100% - 45px),
        calc(100% - 45px) calc(100% - 54px),
        calc(100% - 36px) calc(100% - 54px),
        calc(100% - 36px) calc(100% - 63px),
        calc(100% - 27px) calc(100% - 63px),
        calc(100% - 27px) calc(100% - 81px),
        calc(100% - 18px) calc(100% - 81px),
        calc(100% - 18px) calc(100% - 99px),
        calc(100% - 9px) calc(100% - 99px),
        calc(100% - 9px) calc(100% - 126px),
        100% calc(100% - 126px),
        100% 126px,
        calc(100% - 9px) 126px,
        calc(100% - 9px) 99px,
        calc(100% - 18px) 99px,
        calc(100% - 18px) 81px,
        calc(100% - 27px) 81px,
        calc(100% - 27px) 63px,
        calc(100% - 36px) 63px,
        calc(100% - 36px) 54px,
        calc(100% - 45px) 54px,
        calc(100% - 45px) 45px,
        calc(100% - 54px) 45px,
        calc(100% - 54px) 36px,
        calc(100% - 63px) 36px,
        calc(100% - 63px) 27px,
        calc(100% - 81px) 27px,
        calc(100% - 81px) 18px,
        calc(100% - 99px) 18px,
        calc(100% - 99px) 9px,
        calc(100% - 126px) 9px,
        calc(100% - 126px) 0px,
        126px 0px,
        126px 9px,
        99px 9px,
        99px 18px,
        81px 18px,
        81px 27px,
        63px 27px,
        63px 36px,
        54px 36px,
        54px 45px,
        45px 45px,
        45px 54px,
        36px 54px,
        36px 63px,
        27px 63px,
        27px 81px,
        18px 81px,
        18px 99px,
        9px 99px,
        9px 126px,
        0px 126px
      );
    }

    @media(min-width: 1200px) {
      clip-path: polygon(
        0px calc(100% - 168px),
        12px calc(100% - 168px),
        12px calc(100% - 132px),
        24px calc(100% - 132px),
        24px calc(100% - 108px),
        36px calc(100% - 108px),
        36px calc(100% - 84px),
        48px calc(100% - 84px),
        48px calc(100% - 72px),
        60px calc(100% - 72px),
        60px calc(100% - 60px),
        72px calc(100% - 60px),
        72px calc(100% - 48px),
        84px calc(100% - 48px),
        84px calc(100% - 36px),
        108px calc(100% - 36px),
        108px calc(100% - 24px),
        132px calc(100% - 24px),
        132px calc(100% - 12px),
        168px calc(100% - 12px),
        168px 100%,
        calc(100% - 168px) 100%,
        calc(100% - 168px) calc(100% - 12px),
        calc(100% - 132px) calc(100% - 12px),
        calc(100% - 132px) calc(100% - 24px),
        calc(100% - 108px) calc(100% - 24px),
        calc(100% - 108px) calc(100% - 36px),
        calc(100% - 84px) calc(100% - 36px),
        calc(100% - 84px) calc(100% - 48px),
        calc(100% - 72px) calc(100% - 48px),
        calc(100% - 72px) calc(100% - 60px),
        calc(100% - 60px) calc(100% - 60px),
        calc(100% - 60px) calc(100% - 72px),
        calc(100% - 48px) calc(100% - 72px),
        calc(100% - 48px) calc(100% - 84px),
        calc(100% - 36px) calc(100% - 84px),
        calc(100% - 36px) calc(100% - 108px),
        calc(100% - 24px) calc(100% - 108px),
        calc(100% - 24px) calc(100% - 132px),
        calc(100% - 12px) calc(100% - 132px),
        calc(100% - 12px) calc(100% - 168px),
        100% calc(100% - 168px),
        100% 168px,
        calc(100% - 12px) 168px,
        calc(100% - 12px) 132px,
        calc(100% - 24px) 132px,
        calc(100% - 24px) 108px,
        calc(100% - 36px) 108px,
        calc(100% - 36px) 84px,
        calc(100% - 48px) 84px,
        calc(100% - 48px) 72px,
        calc(100% - 60px) 72px,
        calc(100% - 60px) 60px,
        calc(100% - 72px) 60px,
        calc(100% - 72px) 48px,
        calc(100% - 84px) 48px,
        calc(100% - 84px) 36px,
        calc(100% - 108px) 36px,
        calc(100% - 108px) 24px,
        calc(100% - 132px) 24px,
        calc(100% - 132px) 12px,
        calc(100% - 168px) 12px,
        calc(100% - 168px) 0px,
        168px 0px,
        168px 12px,
        132px 12px,
        132px 24px,
        108px 24px,
        108px 36px,
        84px 36px,
        84px 48px,
        72px 48px,
        72px 60px,
        60px 60px,
        60px 72px,
        48px 72px,
        48px 84px,
        36px 84px,
        36px 108px,
        24px 108px,
        24px 132px,
        12px 132px,
        12px 168px,
        0px 168px
      );
    }
  }
}