.content {
  h1,
  h2,
  h3,
  h4,
  p,
  img,
  ul,
  ol {
    margin-bottom: 1em;
  }

  ul,
  ol {
    margin-left: 1em;
  }

  h1 {
    margin-bottom: 0;
    font-size: 2.6rem;
  }

  h2 {
    margin: 1.5em 0;
    font-size: 2.6rem;
    line-height: 40px;
    color: var(--color-header);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    &::before {
      content: '=== ';
    }
    &::after {
      content: ' ===';
    }
  }

  h3 {
    margin: 1.5em 0 1em 0;
    font-size: 2.1rem;
    color: var(--color-header);

    &::before {
      content: '> ';
    }
  }

  h4 {
    margin: 1.5em 0 1em 0;
    font-size: 1.8rem;
    color: var(--color-header);

    &::before {
      content: '>> ';
    }
  }

  ul {
    list-style-position: outside;
    list-style-type: '*';

    > li {
      padding-left: 0.5em;
      &::marker {
        font-family: var(--font-code);
      }
    }
  }

  em {
    color: pink;
    font-style: italic;
    text-transform: none;
  }

  strong {
    color: #ff004d;
  }

  code {
    color: #00e232;
  }

  ol {
    list-style-position: inside;
    list-style-type: decimal;
  }

  & > * {
    margin-bottom: 1em;
  }

  pre,
  code {
    font-style: italic;
    font-family: var(--font-body);
    margin: 2em auto;
  }

  a, .link {
    text-decoration: dotted;
    color: #ffe727;
  }

  .without-margin {
    margin-top: -24px;
    margin-right: -24px;
    margin-left: -24px;
  }

  blockquote {
    padding-left: 1em;
    border-left: 8px solid white;
  }

  &.break {
    white-space: break-spaces;
  }

  .skew-left {
    transform: skewY(-1deg);
    transform-origin: top right;
  }
  .skew-right {
    transform: skewY(1deg);
    transform-origin: top left;
  }

  .no-skew {
    &.no-skew-padding {
      padding: 0 32px;
    }

    .block.with-padding & {
      margin: 3em -32px 2em -32px;
    }

    .block.skew & {
      transform: skewY(2deg);
      transform-origin: top right;
      margin: 3em 0px 2em 0px;
    }

    .no-skew {
      padding: 0;

      .block.with-padding & {
        margin: 0;
      }

      .block.skew & {
        transform: none;
      }
    }
  }

  &.small {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }

  &.no-margin {
    margin-bottom: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }


  pre.astro-code {
    background-color: #00000066 !important;
    overflow-x: scroll !important;
    padding: 1em 4px !important;
    border: 4px solid white;
    border-bottom: 1em solid white;

    * {
      font-family: var(--font-code) !important;
    }

    &[data-language=ts] {
      margin: 1em -1em !important;

      @media (min-width: 600px) {
        margin: 1em calc((600px - 100vw) / 2 - 1rem) !important;
      }

      @media (min-width: 850px) {
        margin: 1em -320px 1em 0 !important;
      }
    }
  }

  p:has(pre.astro-code) {
    padding: 100px;
  }

  p:has(.center) {
    text-align: center;
  }
  .center {
    margin: auto;
  }

  &.remark-first-paragraph {
    > p:nth-child(1) {
      padding-left: 1em;
      border-left: 8px solid white;
    }
  }
}

.section-header {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;

  @media (min-width: 640px) {
    font-size: 4em;
  }
}
