---
import { getEntry } from 'astro:content'
import Image from '~/components/Content/Image.astro'
import Link from '~/components/Content/Link.astro'
import PageContainer from '~/components/Page/PageContainer.astro'
import PageContent from '~/components/Page/PageContent.astro'
import PageHeader from '~/components/Page/PageHeader.astro'
import Layout from '~/layouts/Layout.astro'
import type { BreadcrumbLink } from '~/types/breadcrumbs.types'
import { getEntryRenderContent, getEntrySummary } from '~/utils/content'
import LogsJournal from '~/components/Page/Logs/LogsJournal.astro'

const entry = await getEntry('page', 'journal')
const { Content } = await getEntryRenderContent(entry)

const title = 'Journal'
const breadcrumbs: BreadcrumbLink[] = []
const summary = await getEntrySummary(entry, false)
---

<Layout full overlay seo={{ title, breadcrumbs, description: summary }}>
  <PageContainer overlay>
    <PageHeader layout="two-columns" title={entry.data.name} breadcrumbs={breadcrumbs} />

    <PageContent layout="two-columns">
      <Content components={{ a: Link, img: Image }} />
    </PageContent>
    <div class="divider"></div>

    <LogsJournal />
  </PageContainer>
</Layout>

<style>
  .divider {
    margin-bottom: 96px;
  }
</style>
